/* styles.css */
body {
    font-family: Arial, sans-serif;
   /* background-color: #f0f0f0; */
    background-image: url("C:\Users\Lenovo\Desktop\Ausbildung\Ma Page Web\foto3.jpg");
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 15px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#confirmText {
    text-align: center;
    padding: 10px;
}
